<nav class="navbar bg-light">
    <div class="container-fluid">
    
      <h2 class="title" ><a class="navbar-brand" routerLink="/user-table">Users List! </a></h2>
      <h4 > <img class="image" width="50px" height="50px" src="{{avatar}}" />  {{Name}}</h4>
      
    </div>
  </nav>

  <div class="body">
  <div>
    <form>
      <div>
      <div id="addtask" style="display: inline-block;">
        <div style= "padding-right: 20px;display: inline-block;">
        <input class="m-3" type="text" placeholder="Enter your task" #taskAdd>
      </div>
        <button type="button" mat-raised-button color="primary" data-bs-toggle="modal" data-bs-target="#userPassword"
          (click)="AddTask(taskAdd.value)">
         Add Task
        </button>
       <div style= "padding-left: 20px;display: inline-block;">
        <button mat-raised-button color="primary"   (click)="logOut()" (keydown.enter)="logOut()">Sign Out</button>
         </div>
      </div>
    </div>

       
       
    </form>
  </div>
  


  
    <table width="400px">
    <tr *ngFor="let todo of userTodos; let i = index" >
        <td width="20px">{{i+1}}</td>
        <td width="50px">{{todo.task}}</td>
   <!--    <td width="70px"><mat-slide-toggle class="toggle" (click)="ToggleTask(todo.id)"  
          [ngClass]="status ? 'success' : 'danger'"></mat-slide-toggle>Completed</td>--> 
         <td width="70px"> <input name="completed" class="ms-2 me-5" type="checkbox" (click)="ToggleTask(todo.id)" [checked]="todo.completed != false"></td> 
        <td width="100px">
        <button type="button" mat-raised-button color="primary" data-bs-toggle="modal" data-bs-target="#userPassword"
        (click)="DeleteTask(todo.id)" (keydown.enter)="DeleteTask(todo.id)  ">
        Delete
      </button>
    </td>
   
    </tr>
  </table>
  

</div>   
  